
a.link:link, a.link:visited {
   	background-color:#000000;
   	color:#FFFFFF;
	padding: 14px 25px;
	text-align: center; 
	text-decoration: none;
   	display: inline-block;
	width: 80px;
}
a.link:hover, a.link:active {
    background-color:#F4D813;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#000000;
    color:#FFFFFF;
}
ul li {
    display: inline;
	float: left;
}
ul li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
} 
ul li a {
	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
	
}
h1 {
	text-align:center;
	color:#FFFFFF;
	background-color:#000000;
	background-image:url("B.png");
	border-style:solid;
	border-color:#F4D813;
	margin-left:75px;
	margin-right:75px;
	padding:10px;
}
